In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('new_file.csv', encoding='cp1252')
df.head(10)

                                               Title  ...                                        Description
0                                                NaN  ...                                                NaN
1          \r\nHow to Find Forex Historical Data\r\n  ...  Interested in the forex currency trade? Learni...
2                                                NaN  ...                                                NaN
3  \r\nWhat Is the Definition of Data Inconsisten...  ...  Data inconsistency occurs when similar data is...
4                                                NaN  ...                                                NaN
5     \r\nWhat Does AncestryDNA Do With My Data?\r\n  ...  What Does AncestryDNA Do With My Data? DNA tes...
6                                                NaN  ...                                                NaN
7           \r\nHow Do Researchers Collect Data?\r\n  ...  There are various ways for researchers to coll...
8                                                NaN  ...                                                NaN
9      \r\nThe Beginner’s Guide to Data Analysis\r\n  ...  Data analysis seems abstract and complicated, ...

[10 rows x 3 columns]

In [ ]:
df.isnull().sum()

Title          11
Link           11
Description    11
dtype: int64

In [ ]:
df = df.loc[1:21:2 , :]
df

                                                Title  ...                                        Description
1           \r\nHow to Find Forex Historical Data\r\n  ...  Interested in the forex currency trade? Learni...
3   \r\nWhat Is the Definition of Data Inconsisten...  ...  Data inconsistency occurs when similar data is...
5      \r\nWhat Does AncestryDNA Do With My Data?\r\n  ...  What Does AncestryDNA Do With My Data? DNA tes...
7            \r\nHow Do Researchers Collect Data?\r\n  ...  There are various ways for researchers to coll...
9       \r\nThe Beginner’s Guide to Data Analysis\r\n  ...  Data analysis seems abstract and complicated, ...
11      \r\nWhat Is First Data Merchant Services?\r\n  ...  First Data provides services to small business...
13        \r\n5 Sources of Historial Weather Data\r\n  ...  Most of the time when you think about the weat...
15    \r\nImplementation of Data Structures | edX\r\n  ...  Learn how to write correct and efficient data ...
17      \r\nIntroduction to Data Structures | edX\r\n  ...  Learn the advanced programming topics in the C...
19         \r\nData Structures Fundamentals | edX\r\n  ...  Learn about data structures that are used in c...
21  \r\nObjects vs. Data Structures | Hacker Noon\r\n  ...  Editor In the world of Java development, there...

[11 rows x 3 columns]

In [ ]:
df['Description'][1]

'Interested in the forex currency trade? Learning historical currency value data can be useful, but there’s a lot more to know than just that information alone. This guide can help you get on the right track to smart investment in the foreig...'

In [ ]:
import spacy
from collections import Counter
from string import punctuation
nlp = spacy.load("en_core_web_sm")
# import en_core_web_lg
# nlp = en_core_web_lg.load()
# function to get hotwords
def get_hotwords(text):
    result = []
    pos_tag = ['PROPN', 'ADJ', 'NOUN'] # 1
    doc = nlp(text.lower()) # 2
    for token in doc:
        # 3
        if(token.text in nlp.Defaults.stop_words or token.text in punctuation):
            continue
        # 4
        if(token.pos_ in pos_tag):
            result.append(token.text)
                
    return result # 5
text = df['Description'][1]
output = get_hotwords(text)
print(output)

['interested', 'forex', 'currency', 'trade', 'historical', 'currency', 'value', 'data', 'useful', 'lot', 'information', 'guide', 'right', 'track', 'smart', 'investment', 'foreig']

In [ ]:
array_of_keywords = []
for i in range(1, 21):
  if(i%2!=0):
    arr = get_hotwords(df["Description"][i])
    array_of_keywords.append(arr)
  else:
    continue
print(len(array_of_keywords))
print(array_of_keywords)

10
[['interested', 'forex', 'currency', 'trade', 'historical', 'currency', 'value', 'data', 'useful', 'lot', 'information', 'guide', 'right', 'track', 'smart', 'investment', 'foreig'], ['data', 'inconsistency', 'similar', 'data', 'different', 'formats', 'file', 'important', 'data', 'files', 'files', 'data', 'information', 'names', 'addres'], ['ancestrydna', 'data', 'dna', 'tests', 'popular', 'way', 'people', 'genealogy', 'family', 'history', 'ancestrydna', 'popular', 'test', 'kits'], ['ways', 'researchers', 'data', 'important', 'data', 'credible', 'sources', 'validity', 'research', 'researchers', 'collecti'], ['data', 'analysis', 'abstract', 'complicated', 'answers', 'real', 'world', 'problems', 'businesses', 'qualitative', 'factors', 'data', 'analysis', 'businesses', 'action', 'plans', 'marketing', 'sales', 'decisio'], ['data', 'services', 'small', 'businesses', 'large', 'merchants', 'international', 'institutions', 'merchant', 'services', 'data', 'business', 'monetary', 'needs', 'pos', 'systems', 'payment', 'processing', 'solutions', 'm'], ['time', 'weather', 'current', 'conditions', 'forecasts', 'hardcore', 'weather', 'buff', 'curious', 'historical', 'weather', 'data', 'weather', 'day'], ['correct', 'efficient', 'data', 'structures', 'manipulation', 'standard', 'template', 'library', 'stl', 'c++', 'power', 'stl', 'code', 'solid', 'reusable', 'robust', 'correct'], ['advanced', 'programming', 'topics', 'c++', 'programming', 'language', 'pointers', 'dynamic', 'storage', 'recursion', 'advanced', 'programming', 'topics', 'c++', 'programming', 'language', 'pointers', 'dynami'], ['data', 'structures', 'computational', 'thinking', 'basic', 'advanced', 'good', 'algorithm', 'set', 'good', 'data', 'structures', 'algorithm', 'data', 'c']]

In [ ]:
array_of_keywords[1]

['data',
 'inconsistency',
 'similar',
 'data',
 'different',
 'formats',
 'file',
 'important',
 'data',
 'files',
 'files',
 'data',
 'information',
 'names',
 'addres']

In [ ]:
no_of_times_data_occurs = []
searchedword = 'data'
for item in array_of_keywords:
  num = 0
  for word in item:
    if(word==searchedword):
      num+=1
  no_of_times_data_occurs.append(num)
print(no_of_times_data_occurs)

[1, 4, 1, 2, 2, 2, 1, 1, 0, 3]

In [ ]:
def maximum(a, n):
  
    # inbuilt function to find the position of minimum 
    minpos = a.index(min(a))
      
    # inbuilt function to find the position of maximum 
    maxpos = a.index(max(a)) 
      
    # printing the position 
    print("The maximum is at position", maxpos) 
    print("The minimum is at position", minpos)
a = no_of_times_data_occurs
maximum(a, len(a))

The maximum is at position 1
The minimum is at position 8

In [ ]:
b = [1, 1, 2, 4, 2, 2, 1, 4, 1, 0, 3]
maximum(b, len(b))

The maximum is at position 3
The minimum is at position 9

In [ ]:
max_value_index = no_of_times_data_occurs.index(max(no_of_times_data_occurs))
max_value_index

1

In [ ]:
csv_index = (max_value_index*2)+1
display_title = df['Title'][csv_index]
display_link = df['Link'][csv_index]
display_desc = df['Description'][csv_index]
print(f'Title : {display_title}, Link : {display_link}, Description: {display_desc}')

Title :
What Is the Definition of Data Inconsistency?
, Link : https://www.reference.com/world-view/definition-data-inconsistency-5bc80c9fd30c5f1a?utm_content=params%3Ao%3D740005%26ad%3DdirN%26qo%3DserpIndex, Description: Data inconsistency occurs when similar data is kept in different formats in more than one file. When this happens, it is important to match the data between files. Sometimes, files duplicate some data. When information like names and addres...